/*------------------------
      HEADLINE
--------------------------*/
.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 80px;

  h1 {
    font-size: 8rem;
    margin-right: 2rem;
    font-family: $font-family-title;
    color: $special-color;
  }
  h3 {
    font-size: 8rem;
    font-weight: 400;
    margin-left: 2rem;
    font-family: $font-family-title;
  }
}

/*------------------------
        NAVIGATION
  --------------------------*/
ul {
  padding-left: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  width: 75%;
  min-width: 1100px;
  max-width: 1300px;
  margin: 0 auto 0 auto;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;

  .center {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user {
    width: 22%;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.register-btn {
  border: 2px solid $special-color;
  padding: 5px;
  color: $main-color;
  border-radius: 15px;
}
.nav-link {
  color: $main-color;
  position: relative;
}
.nav-link:after {
  content: "";
  position: absolute;
  background-color: $special-color;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: 6px;
  transition: 0.3s;
}
.nav-link:hover:after {
  width: 100%;
}
.nav-link:hover {
  color: $main-color;
}
.register-btn:hover {
  color: $main-color;
}
.nav-link:focus {
  color: $main-color;
}
.register-btn:focus {
  color: $main-color;
}
