/*------------------------
      PAGINATION
--------------------------*/
.pagination-list {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.pag-nav {
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}
.pagination-section {
  display: flex;
  margin-left: 30px;
}
.pagination-section button {
  border-radius: 50px;
  font-size: 1rem;
  margin: 0px 5px 0px 5px;
}
.active-page {
  background: none;
  color: $special-color;
  border: 2px solid $special-color;
}
.inactive-page {
  color: white;
}
.Pagination-Bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag-nav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.arrows {
  color: white;
  background: $special-color;
}

/*------------------------
        FILTER
  --------------------------*/
.filter {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.filter-descr {
  margin-left: 10px;
}
