$main-color: rgb(54, 68, 75);
$special-color: rgb(42, 195, 200);
$background-color: #282e2f;
$base-color: white;
$font-family-main: "Roboto", sans-serif;
$font-family-title: "Qwitcher Grypen", cursive;

@import "./navigation";
@import "./home";
@import "./search";
@import "./copyright";
@import "./pagination";
@import "./bunnyresults";
@import "./sheltersearch";
@import "./shelter";
@import "./login";
@import "./register";
@import "./footer";
@import "./general";
@import "./contact";
